@charset "utf-8";
.menufr
{
	margin-top: -72px;
	margin-left: 270px;
}
.divback
{
	opacity: 0.9;
	border-bottom: aqua 6px solid;
	border-radius: 12px;
}
.bgimg
{
	width:240px;
	height: auto; 
	margin-top: 30px;
	margin-left: 30px;
}
ul
{
	margin: 0;
	list-style-type: none;
	padding:0px;
	position: absolute;
}
ul li
{
	opacity: 0.95; 
	display: inline-block;
	margin:0px;
	padding:0px;
	column-width: auto;	
	font-size:auto;
} 
li a
{
	display: block;
	min-width:200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-family: "Helvetica Neue", Helveica, Arial, sans-serif;
	color: #FFFFFF;
	background: #222223;
	text-decoration: none;
}
li:hover a
{
	background: #19c589;
}
li:hover ul li a
{
	background: #f3f3f3;
	color: #2f3036;
	height: 30px;
	line-height: 30px;
}
li:hover ul li a:hover
{
	 background: #19c589;
	color: #FFFFFF;
}
li ul
{
	display: none;
	
}
li ul li
{
	display: block;
	float: none;
}
li ul li a
{
	width:200px;
	min-width: 80px;
}
ul li a:hover + .hidden, .hidden:hover
{
	display: block;
}
body
{
	background: url("main.jpg") no-repeat;
	background-size:cover;
	opacity: 1;
}
iframe
{
	padding: 0;
	margin: 0;
}
.abus
{
	font-size:15;
	text-decoration:none;
	color:#ffffff;
	margin-left:1150px;
	margin-top:80px;
}
.abus a
{
	text-decoration:none;
	color:#ffffff;
}
.a1:hover .a11
	{
	display:block;
	
	}
	td
	{
	width:50%;
	height:400px;
	}
	.a11
	{
		width:350px;
		margin-left:150px;
	background:#808080;
	opacity:0.9;
	color:white;
	font-family:sans-serif;
	display:none;
	position:absolute;
	
	}
	.a2:hover .a12
	{
	display:block;
	
	}
	.a12
	{
	position:absolute;
	width:350px;
		margin-left:150px;
	background:#808080;
		opacity:0.9;
	color:white;
	font-family:sans-serif;
	display:none;
	}
	.a3:hover .a13
	{
	display:block;
	
	}
	.a13
	{
	position:absolute;
width:350px;
		margin-left:150px;
	background:#808080;
	display:none;
		opacity:0.9;
	color:white;
	font-family:sans-serif;
	}
	.a4:hover .a14
	{
	display:block;
	
	}
	.a14
	{
	position:absolute;
width:350px;
		margin-left:150px;
	background:#808080;
	display:none;
		opacity:0.9;
	color:white;
	font-family:sans-serif;
	}
	.a5:hover .a15
	{
	display:block;
	
	}
	.a15
	{
	position:absolute;
width:350px;
		margin-left:150px;
	background:#808080;
	display:none;
		opacity:0.9;
	color:white;
	font-family:sans-serif;
	}
	.a6:hover .a16
	{
	display:block;
	
	}
	.a16
	{
	position:absolute;
width:350px;
		margin-left:150px;
	background:#808080;
	display:none;
		opacity:0.9;
	color:white;
	font-family:sans-serif;
	}
	#yoo
	{
		width:400px;
		height:auto;
		border:wheat 4px solid;
		border-radius:15px;
	}
	.divmf
{
	opacity: 0.9;
	border-radius: 12px;
	border: #ffffff 2px solid;
}
.fb
{
	border-radius:8px;
	margin-left:80px;
	margin-top: -200px;
	height:auto;
	width:40px;
}
.gp
	{
	border-radius:8px;
	margin-left:50px;
	margin-top: 10px;
	height:auto;
	width:40px;
}
.twt
	{
	border-radius:8px;
	margin-left:50px;
	margin-top: -200px;
	height:auto;
	width:40px;
}
.yho
	{
	border-radius:8px;
	margin-left:50px;
	margin-top: -200px;
	height:40px;
	width:45px;
}
.cpy
{
	color:#ffffff;
	margin-top:-35px;
	opacity: 0.9;
	background: #222221;
	margin-left: 550px;
}